

/* .solid {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}
.solid .side {
  position: absolute;
  left: 0;
  bottom: 50%;
  border-bottom: 173.2px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform-origin: 50% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side img {
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: contain;
pointer-events: none;
 
}

.solid span {
  position: absolute;
}
.solid .side:nth-child(1) {
  transform: rotateY(90deg) translateZ(100px) rotateX(35.27deg);
  
}
.solid .side:nth-child(2) {
  transform: rotateY(180deg) translateZ(100px) rotateX(35.27deg);
  
}
.solid .side:nth-child(3) {
  transform: rotateY(270deg) translateZ(100px) rotateX(35.27deg);
  border-bottom-color: rgba(132, 22, 150, 0.7);
}
.solid .side:nth-child(4) {
  transform: rotateY(360deg) translateZ(100px) rotateX(35.27deg);
  border-bottom-color: rgba(89, 168, 148, 0.7);
}
.solid .side:nth-child(5) {
  transform: rotateY(450deg) translateZ(100px) rotateX(144.73deg);
  border-bottom-color: rgba(198, 1, 182, 0.7);
}
.solid .side:nth-child(6) {
  transform: rotateY(540deg) translateZ(100px) rotateX(144.73deg);
  border-bottom-color: rgba(22, 144, 122, 0.7);
}
.solid .side:nth-child(7) {
  transform: rotateY(630deg) translateZ(100px) rotateX(144.73deg);
  border-bottom-color: rgba(161, 121, 140, 0.7);
}
.solid .side:nth-child(8) {
  transform: rotateY(720deg) translateZ(100px) rotateX(144.73deg);
  border-bottom-color: rgba(12, 19, 229, 0.7);
}

@-webkit-keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
  }
} */


.solid {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 200px;
  height: 173.2px; 
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform-origin: 50% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  
  
}

.side img {
  width: 50%;
  height: 50%;
  margin-top: 30%;
}

.face-4 , .face-5, .face-6, .face-7 {
    transform: rotateX(180deg);
}

.solid span {
  position: absolute;
}

.solid .side:nth-child(1) {
  transform: rotateY(90deg) translateZ(100px) rotateX(35.27deg);
}
.solid .side:nth-child(2) {
  transform: rotateY(180deg) translateZ(100px) rotateX(35.27deg);
}
.solid .side:nth-child(3) {
  transform: rotateY(270deg) translateZ(100px) rotateX(35.27deg);
  
}
.solid .side:nth-child(4) {
  transform: rotateY(360deg) translateZ(100px) rotateX(35.27deg);
  
}
.solid .side:nth-child(5) {
  transform: rotateY(450deg) translateZ(100px) rotateX(144.73deg);
 
}
.solid .side:nth-child(6) {
  transform: rotateY(540deg) translateZ(100px) rotateX(144.73deg);
  
}
.solid .side:nth-child(7) {
  transform: rotateY(630deg) translateZ(100px) rotateX(144.73deg);
  
}
.solid .side:nth-child(8) {
  transform: rotateY(720deg) translateZ(100px) rotateX(144.73deg);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
  }
}