@import 'tailwindcss';

@theme {
    --color-bg-primary : #1D1D1D;
    --color-bg-secondary : #2D2D2D;
    --color-text-primary : #C9EF34;
    --color-text-secondary : #FFFFFF;
}

:root {
    background-color: #1D1D1D;
}