body {
    background-image: url('assets/bg.png');
    background-size: cover; 
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents the image from repeating */
    height: 100vh; /* ensures the body takes the full height of the viewport */
    margin: 0; /* removes default margin */
}

@media only screen and (max-width: 600px) {

    body {
    background-image: none;
    background-color: #060407;
    }
}